<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Balademy University</title>
  <style>
    #app {
      padding: 10px 100px;
    }

    .succes {
      background-color: greenyellow;
    }

    .danger {
      background-color: red;
    }

    button {
      border: 0;
      border-radius: 2px;
      box-shadow: 0 2px 2px -1px black;
      padding: 4px;
    }

    .active {
      background-color: greenyellow;
      box-shadow: 0 2px 2px -1px orange;
    }

    .active:active {
      background-color: yellow;
    }
  </style>
</head>

<body>
  <div id="app">

    <header>
      <img width="100" :src="gambar" alt="vue-brand">
      <h1>Hi! <span v-text="name"></span></h1>
    </header>
    <nav>
      <p>Ini adalah latihan vue <b>{{addName('de Shanum')}}</b></p>
      <p>Nomor Kepegawaian : 10102{{cvc}}</p>
      <button @click="addNumber()">change</button>
      <a href="#" :class="{active: nav === 'add'}" @click.prevent="gantiMenu('add')">Add</a>
      <a href="#" :class="{active: nav === 'update'}" @click.prevent="gantiMenu('update')">Update</a>
      <a href="#" :class="{active: nav === 'remove'}" @click.prevent="gantiMenu('remove')">Remove</a>
    </nav>
    <main>
      <h5>Termasuk Anggota Bilangan <i>{{bilanganInfo}}</i> </h5>
      <input type="text" v-model="login">
      <p v-html="login"></p>
      <article>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae temporibus adipisci consequuntur ea quidem
        itaque ad accusantium aut eum amet molestiae voluptatum quae facere quis, ex veritatis id dignissimos vitae non,
        minus exercitationem placeat. Suscipit, qui. Dicta voluptate dolore doloribus? Dolor, magni labore vel
        voluptatibus harum necessitatibus odio hic ad.
      </article>
      <br>

      <h3>Daftar Kelas ({{kelas.length}})</h3>
      <ul v-if="kelas.length > 1">
        <li v-for="(item , index) of kelas">
          {{ index+1 }} - {{item}}
        </li>
      </ul>
      <p v-else>Kelas tidak tersedia</p>

      <h3>Perulangan Angka</h3>
      <ul>
        <li v-for="n in 5">{{n}}</li>
      </ul>

      <h3>Perulangan : {{numbers}}</h3>
      <ul>
        <li v-for="n in numbers">{{n}}</li>
      </ul>

      <h3>Mencari Bilangan Genap di : {{numbers}}</h3>
      <ul>
        <li v-for="n in bilanganGenap(numbers)">{{n}}</li>
      </ul>

      <p>{{kelas}}</p>
      <div>
        <label><input type="checkbox" value="Hadir" v-model="kelas">Hadir</label>
        <label><input type="checkbox" value="Absen" v-model="kelas">Absen</label>
        <label><input type="checkbox" value="Ijin" v-model="kelas">Ijin</label>
      </div>
      <br>
      <aside v-once>
        Menu <code :class="[ isActive ? 'succes' : 'danger' ]" style="padding: 3px;">
          {{isActive ? 'Complite' : 'Null'}}</code>
        <ul>
          <li v-for="fam in family">
            {{fam}}
          </li>
        </ul>
      </aside>
    </main>
    <footer>
      <p>baledemy &copy; 2020</p>
    </footer>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        input: 'Nama Saya',
        name: 'Buyung Puyuh',
        msg: 'Catatan',
        family: ['Ayah', 'Ibu', 'Anak'],
        isActive: true,
        qty: 1,
        cvc: 7,
        login: '<a href="#">Login</a>',
        gambar: 'https://docs.vuejs.id/images/logo.png',
        nav: 'add',
        kelas: [],
        numbers: [2, 3, 4, 5, 6, 7]
      },
      methods: {
        getName() {
          return `hello , ${this.name}`
        },
        addName(namabaru) {
          this.name = namabaru
          return this.name
        },
        addNumber() {
          this.nav = 'add'
          return this.cvc++
        },
        bilanganGenap(data) {
          return data.filter(angka => {
            return angka % 2 == 0
          })
        },
        gantiMenu(data) {
          return this.nav = data
        }
      },
      computed: {
        totalBayar() {
          return this.qty * 1000
        },
        bilanganInfo() {
          return this.cvc % 2 === 0 ? 'Genap' : 'Ganjil'
        }
      },
    })
  </script>
</body>

</html>